name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm ci
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    
    # 1. Ejecución de los tests
    - name: Run Playwright tests
      run: npx playwright test

    # 2. Generar resumen con FECHA 
    - name: Generar Resumen Rápido
      if: always()
      run: |
        TOTAL=$(npx playwright test --list | grep "test" | wc -l)
        FECHA=$(date +'%d/%m/%Y %H:%M')
        echo "RESUMEN : [$FECHA] | Ejecución Finalizada | Total: $TOTAL | Revisar Reporte en Artifacts"
    # --------------------------

    # 3. Recolección de evidencias para reportes y Excel
    - name: Subir reportes y resultados para Excel
      uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }} # Se ejecuta siempre, incluso si hay fallos, para no perder la evidencia
      with:
        name: reporte-completo-qa # Nombre del archivo .zip
        path: |
          playwright-report/
          results.xml
        # results.xml es el archivo Excel de informe
        retention-days: 30 # Tiempo que GitHub guardará estos archivos